*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.navbar{

    height: 50px;
    background-color:white;
    margin-top:10px;
    display:flex;
    justify-content: space-between;
    margin-top: 0px;
}
.logo{
    margin-top: 12px;
    display:flex;
    gap: 10px;
}
.logo>i{
    margin-top: 2px;
}
.action-btn{
    display: flex;
    justify-content: space-around;
    gap:10px;
    align-items: center;
    margin: 5px;
}
.add-btn{
    display: flex;
    gap : 10px;
    width:110px;
    height:30px;
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
}
.remove-btn{
    display: flex;
    gap : 10px;
    width:110px;
    height:30px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: red;
    cursor : pointer;
}
.color{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50px;
}
.red{
    cursor: pointer;
   background-color: brown;
}
.green{
    cursor: pointer;
   background-color: greenyellow;
}
.blue{
    cursor :pointer;
   background-color: blue;
}
.black{
    cursor : pointer;
    background-color: black;
}
.filter-cont{
     width:230px;
     display:flex;
     justify-content:space-around;
     align-items: center;
}
.priority-colors{
    display:flex;
    gap: 5px;
}
body{
    background: linear-gradient(135deg,#667eea 0%, #764ba2 100%);
}
.ticket{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
    width: 220px;
    height: 110px;
    border-radius: 20px;
    background-color: aliceblue;
    overflow: hidden;
}
.priority-label{
    height: 10px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    position: relative;
    bottom: 8px;
}
.ticket-id{
    text-transform: uppercase;
    font-size: small;
    margin-left: 30px;
}
.ticket-task{
    margin-left: 20px;
}
.ticket-lock{
    position: relative;
    left: 200px;
    bottom: 60px;
}
.task-adder{
    width:400px;
    height:300px;
    border :1px solid white;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 420px;
    bottom: 100px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.box-detail{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d3c0f7;
    align-items: center;
    margin-right: 5px;
    gap:20px;
}
.box-detail>h3{
    word-spacing: 7px;

}
textarea{
    height: 300px;
    margin-right:50px;
    all:unset;
    padding: 10px;
    box-sizing: border-box;
}
.enter-task{
      width: 120;
}
.priority-selector{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 130px;
}
.priority{
    width: 40px;
    height: 50px;
    border: 1px solid white;
    border-radius: 15px;
}
.select-priority{
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
}
.priority-selector>div>h4{
    border: 1px solid black;
    width: 80px;
    border-radius: 10px;
    background-color:lightgray;
    padding: 15px;
    cursor: pointer;
}

